<mat-card id="graphic-card">
  <mat-card-header>
    <mat-card-title>
      {{info.label}}
    </mat-card-title>

    <div id="meter-box">
      <div class="meter-box-field">
        <label for="maximum">Maximum :</label>
        <span id="maximum">{{maximum}}</span>
      </div>

      <div class="meter-box-field">
        <label for="minimum">Minimum :</label>
        <span id="minimum">{{minimum}}</span>
      </div>

      <div class="meter-box-field">
        <label for="average">Moyenne :</label>
        <span id="average">{{average}}</span>
      </div>
    </div>
  </mat-card-header>

  <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [results]="result">
  </ngx-charts-line-chart>
</mat-card>
