mat-card-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;

  #meter-box {
    display: flex;
    flex-direction: column;

    &-field {
      display: flex;

      span {
        margin-left: 3px;
      }
    }
  }
}

#graphic-card {
  height: 300px;
}
