<mat-card id="login-card">
  <mat-card-title>Connexion</mat-card-title>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Login" formControlName="login">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" formControlName="password">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Se connecter</button>
  </form>
</mat-card>

