<mat-toolbar id="navbar">
  <span>
    <button mat-button (click)="onClickHomeBtn()">
          <mat-icon>home</mat-icon>
    </button>
  </span>

  <span id="navbar-temp-unit">
    C°<mat-slide-toggle (change)="onToggleUnit()">F°</mat-slide-toggle>
  </span>
</mat-toolbar>
