.box{
  margin: 5%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.carac{
  margin: 1%;
}
.caracBox{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 75%;
}
#object-list{
  height: 100%;
  width: 750px;
}
