<div id="object-list">
  <mat-card class="box" *ngFor=" let device of devices">
    <mat-card-title>{{ device.device }}</mat-card-title>
    <div class="caracBox">
     <mat-card class="carac" *ngFor=" let util of utils">
       <mat-card-title>{{util.label}}</mat-card-title>
       <p>
         {{util.id}}
         {{util.code}}
         {{util.type}}
       </p>
       <button mat-raised-button
               color="accent"
               (click)="onClick(util.id)">
         <mat-icon>timeline</mat-icon>
       </button>
     </mat-card>
    </div>
  </mat-card>
</div>
