#navbar {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 1000;

  width: 100%;
}

#main-wrapper {
  width: 100%;

  padding-top: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}
